################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Wpf.Alumnado/obj
/Wpf.Alumnado/bin
/.vs